.banner {
      background: url('../cyclingsafety_files/banner1.jpg') no-repeat center center;
      background-size:100%;
      position: fixed;
      width: 100%;
      height: 300px; /*same height as jumbotron */
      top:0;
      left:0;
      z-index: -1;
}

/*keep banner position */
.jumbotron {
      height: 300px;
      color: white;
      text-shadow: #444 0 1px 1px;
      background:transparent;
}

.text-bg{
    background: rgba(70,70,70,0.3);
    padding: 10px;
    margin: 20px;
}
.text-bg p{
    margin: 10px;
}

#participate-button {
    background: rgba(246, 136, 38, 0.8);
    /*border: solid 1px rgba(50, 189, 211, 1);*/
    color: white;
    font-size: 24px;
    transition: all 0.3s ease 0s;
    width: 100%;
    border-radius: 10px;
}

#participate-button:hover {
    color: white;
    background: rgba(246, 133, 0, 1);
}
