*.pyc
*/.ipytnb_checkpoints/*
.ipynb_checkpoints/
*.osm
*.sqlite3
*DB-backup
*config.inc.php
*.MP4
upload video 2 server.txt
video_gpx/client_secrets.json
video_gpx/upload_video.py-oauth2.json
video_gpx/test_data/2DB_RoadSegment.csv
html-backup


rating_platform/load_test_db/*
rating_platform/credentials (1).csv
open_data_analysis/data/raw_data/opendc/*
open_data_analysis/data/cross_validation/test/*