.text-align-left{
    text-align:left;
}
/* image radio , DOES NOT work in IE*/
label > input{ /* HIDE RADIO */
   /*visibility: hidden; /* Makes input not-clickable, if not commented out, the Bootstrap required hint won't show up*/
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:4px solid transparent;
}
label > input:hover + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:4px solid #aaa;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:4px solid #FFA800;
}